

/*
* Colors:
* 	#faa74a
* 	rgb(250,167,74)
*/
	
html, body {
	background-color: #ffffff;
	color: #444444;
	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	
	display: block;
	margin: 0;
	padding: 0;
}

h1 {
	color: #222222;
	
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	font-weight: 100;
	
	display: block;
}

h1.section-title {
	font-size: 4em;
	font-weight: 300;
	text-align: center;
	
	display: block;
	margin: 0;
	padding: 1em 0;
}


h2 {
	color: #222222;
	
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	font-weight: 500;
}

p {
	color: #444444;
	font-size: 1em;
	font-weight: 300;
	
	display: block;
	margin: 1em 0;
}

strong {
	font-weight: 700;
}

a.button,
a.button:visited,
a.button:hover,
a.button:active
{
	border-radius: .25em;
	background-color: #faa74a;
	color: #ffffff;
	
	text-decoration: none;
	
	display: inline-block;
	margin: 0;
	padding: .5em 1em;
	
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

a.button:hover {
	background-color: #E59133;
}

a.button.primary-cta {
	display: block;
	margin: 0 auto;
	width: 10em;
}


header {
	background-color: rgba(20, 20, 20, 0.925);
	
	text-align: center;
	
	display: block;
	margin: 0;
	padding: 0;
	height: 4em;
	
	position: fixed;
	top: 2em;
	left: 0;
	right: 0;
	z-index: 50;
}

header .logo-image {
	background-image: url("/singletrack/media/singletrack-logo.png");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 8em;
	width: 8em;
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

header nav {
	display: inline-block;
	
	position: relative;
	top: 50%;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

header nav ul {
	display: block;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
}

header nav li {
	display: inline-block;
	vertical-align: middle;
}

header nav li a,
header nav li a:visited,
header nav li a:hover
{
	color: inherit;
	
	font-size: 1em;
	line-height: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}


.hero-wrapper {
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 20em 10%;
	width: 100%;
	
	position: relative;
	z-index: 0;
}

.hero-wrapper:first-of-type {
	padding: 24em 10%;
}

.hero-wrapper.orange {
	background-image: url("/singletrack/media/beach-houses.jpg");
}

.hero-wrapper.black {
	background-image: url("/singletrack/media/wood-panel-house.jpg");
}

.hero-wrapper h1 {
	font-size: 5em;
	text-align: center;
	
	display: block;
	margin: 0 auto;
}

.hero-wrapper.orange h1 {
	color: rgba(255, 255, 255, 0.9);
}

.hero-wrapper.black h1 {
	color: rgba(255, 255, 255, 0.9);
}

.hero-wrapper h1:before {
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.hero-wrapper.orange h1:before {
	background-color: rgba(250,167,74, 0.75);
}

.hero-wrapper.black h1:before {
	background-color: rgba(0, 0, 0, 0.5);
}



.cta-wrapper {
	background-color: #ffffff;
	color: inherit;
	
	text-decoration: none;
	
	display: block;
	width: 100%;
	
	position: relative;
	z-index: 0;
}

.cta-wrapper.left {
	text-align: left;
}

.cta-wrapper.right {
	text-align: right;
}

.cta-wrapper:hover {
	color: inherit;
	
	text-decoration: none;
}

.cta-wrapper:before,
.cta-wrapper:after
{
	background-size: cover;
	background-position: 50% 50%;
	
	content: "";
	
	display: block;
	width: auto;
	
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.cta-wrapper:after {
	opacity: 1;
	
	z-index: 2;
	
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-ms-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}

.cta-wrapper.left:before,
.cta-wrapper.left:after
{
	left: 40em;
}

.cta-wrapper.right:before,
.cta-wrapper.right:after
{
	right: 40em;
}

.cta-wrapper.orange:after {
	background-color: rgba(250,167,74, 0.75);
}

.cta-wrapper.black:after {
	background-color: rgba(0, 0, 0, 0.6);
}

.cta-wrapper.learn:before {
	background-image: url("/singletrack/media/school.jpg");
}

.cta-wrapper.choose:before {
	background-image: url("/singletrack/media/road.jpg");
}

.cta-wrapper.call:before {
	background-image: url("/singletrack/media/phone-booth.jpg");
}

.cta-wrapper:hover:after {
	opacity: 0;
}

.cta-wrapper .cta {
	background-color: #ffffff;
	
	font-size: 1em;
	text-align: center;
	
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding-top: 1em;
	height: 25em;
	width: 40em;
	vertical-align: top;
}

.cta-wrapper .cta:hover {
	text-decoration: none;
}

.cta-wrapper .cta .icon {
	color: #faa74a;
	
	font-size: 4em;
	line-height: 1;
	text-align: center;
	
	display: block;
	margin: 0;
	margin-top: .25em;
	
	-webkit-transition: -webkit-transform 0.15s ease-in;
	-moz-transition: -moz-transform 0.15s ease-in;
	-ms-transition: -ms-transform 0.15s ease-in;
	-o-transition: -o-transform 0.15s ease-in;
	transition: transform 0.15s ease-in;
}

.cta-wrapper .cta .icon svg {
	display: inline-block;
	width: 2em;
	height: 1.5em;
}

.cta-wrapper .cta:hover .icon {
	/*-webkit-transform: translateY(-.25em);
	-moz-transform: translateY(-.25em);
	-ms-transform: translateY(-.25em);
	-o-transform: translateY(-.25em);
	transform: translateY(-.25em);*/
}

.cta-wrapper .cta h2 {
	text-align: center;
	
	margin: .5em 0;
}

.cta-wrapper .cta p {
	color: #888888;
	
	display: block;
	margin: 2em auto;
	width: 60%;
}



.profile-wrapper {
	text-align: center;
}

.profile-wrapper .profile {
	box-sizing: border-box;
	display: inline-block;
	margin: 4em;
	width: 20em;
	vertical-align: top;
}

.profile .profile-image {
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	display: block;
	margin: 0 auto;
	padding: 0;
	height: 16em;
	width: 16em;
}

.profile .profile-image.circle {
	border-radius: 50%;
	background-size: cover;
	
	overflow: hidden;
}

.profile .profile-image.drew {
	background-image: url("/singletrack/media/drew-bw.jpg");
}

.profile .profile-image.andria {
	background-image: url("/singletrack/media/andria-bw.jpg");
}

.profile h2 {
	font-weight: 300;
	
	margin: 1em 0;
}

.profile p {
	color: #888888;
}




/** svg styles **/

.filled {
	fill: #faa74a;
}

.stroked {
	fill: none;
	
	stroke-width: 2;
	stroke: #faa74a;
}

/** end of svg styles **/




@media screen and (max-device-width: 640) {
	
	.cta-wrapper {
		display: block;
		width: 100%;
	}
	
	.cta-wrapper:before,
	.cta-wrapper:after
	{
		background-image: none;
		display: none;
	}
	
	.cta-wrapper .cta {
		display: block;
		width: 100%;
	}
	
	.cta-wrapper .cta .icon {
		text-align: center;
		
		display: block;
		width: 50%;
	}
	
	.cta-wrapper .cta h2 {
		text-align: center;
		
		display: block;
		width: 50%;
	}
	
	.cta-wrapper .cta p {
		box-sizing: border-box;
		display: block;
		padding: 2em;
		width: 50%;
		
		position: absolute;
		right: 0;
		top: 0;
	}
	
	
	.profile {
		display: block;
		margin: 2em 0;
		width: 100%;
	}
	
}



