

/*
* Colors:
* 	#faa74a
* 	rgb(250,167,74)
*/
	
html, body {
	background-color: #ffffff;
	color: #444444;
	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	
	display: block;
	margin: 0;
	padding: 0;
}

h1 {
	color: #222222;
	
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	font-weight: 100;
	
	display: block;
}

.cta-wrapper h1,
.profile-wrapper h1
{
	font-size: 4em;
	font-weight: 300;
	text-align: center;
	
	display: block;
	margin: 0;
	padding: 0;
}


h2 {
	color: #222222;
	
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	font-weight: 500;
}

strong {
	font-weight: 700;
}


header {
	background-color: rgba(20, 20, 20, 0.925);
	
	text-align: center;
	
	display: block;
	margin: 0;
	padding: 1em 0;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

header .logo-image {
	background-image: url("/singletrack/media/singletrack-logo.png");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 8em;
	width: 8em;
}

header nav {
	display: inline-block;
	
	position: relative;
	top: 50%;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

header nav ul {
	display: block;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
}

header nav li {
	display: inline-block;
	vertical-align: middle;
}

header nav li a,
header nav li a:visited,
header nav li a:hover
{
	color: inherit;
	
	font-size: 1em;
	line-height: inherit;
	font-weight: inherit;
	text-decoration: inherit;
}


#content-wrapper {
	margin-top: 10em;
}


.hero-wrapper {
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 20em 10%;
	width: 100%;
	
	position: relative;
	z-index: 0;
}

.hero-wrapper.orange {
	background-image: url("/singletrack/media/beach-houses.jpg");
}

.hero-wrapper.black {
	background-image: url("/singletrack/media/wood-panel-house.jpg");
}

.hero-wrapper h1 {
	font-size: 5em;
	text-align: center;
	
	display: block;
	margin: 0 auto;
}

.hero-wrapper.orange h1 {
	color: rgba(255, 255, 255, 0.9);
}

.hero-wrapper.black h1 {
	color: rgba(255, 255, 255, 0.9);
}

.hero-wrapper h1:before {
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.hero-wrapper.orange h1:before {
	background-color: rgba(250,167,74, 0.75);
}

.hero-wrapper.black h1:before {
	background-color: rgba(0, 0, 0, 0.5);
}



.cta-wrapper {
	background-color: #ffffff;
	
	display: block;
	width: 100%;
}

.cta-wrapper.left {
	text-align: left;
}

.cta-wrapper.right {
	text-align: right;
}

.cta-wrapper:before {
	background-size: cover;
	background-position: 50% 50%;
	
	display: block;
	width: auto;
	
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.cta-wrapper.left:before {
	left: 24em;
}

.cta-wrapper.right:before {
	right: 24em;
}

.cta-wrapper .cta {
	background-color: #ffffff;
	
	font-size: 1em;
	text-decoration: none;
	
	box-sizing: border-box;
	display: block;
	margin: 2em 0;
	height: 20em;
	width: 24em;
	vertical-align: top;
}

.cta-wrapper .cta:hover {
	text-decoration: none;
}

.cta-wrapper .cta .icon {
	color: #faa74a;
	
	font-size: 2em;
	line-height: 1;
	text-align: center;
	
	display: block;
	height: 1em;
}

.cta-wrapper .cta .icon sup {
	font-size: .6em;
	line-height: 1;
	
	display: inline-block;
	margin: 0 .125em;
	vertical-align: top;
	
	top: -.25em;
}

.cta-wrapper .cta h2 {
	font-size: 1em;
	font-weight: 300;
	line-height: 2;
	
	margin: 1em 0;
}

.cta-wrapper .cta.orange:hover h2 {
	color: rgba(255, 255, 255, 0.9);
}

.cta-wrapper .cta p {
	
	display: block;
	
	position: relative;
	top: 100%;
	
	-webkit-transition: top 0.3s ease-in-out;
	-moz-transition: top 0.3s ease-in-out;
	-ms-transition: top 0.3s ease-in-out;
	-o-transition: top 0.3s ease-in-out;
	transition: top 0.3s ease-in-out;
}

.cta-wrapper .cta:hover p {
	top: auto;
}



.profile-wrapper {
	
}

.profile-wrapper .profile {
	font-size: 2em;
	
	box-sizing: border-box;
	display: inline-block;
	margin: 2em;
	height: 10em;
	width: 10em;
}

.profile-image {
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.profile-image.diamond {
	background-size: cover;
	
	overflow: hidden;
}

.profile-image.circle {
	border-radius: 50%;
	background-size: cover;
	
	overflow: hidden;
}

.profile .profile-image {
	display: block;
	margin: 0 auto;
	padding: 0;
	height: 8em;
	width: 8em;
}

.profile-image.drew {
	background-image: url("/singletrack/media/drew-bw.jpg");
}

.profile-image.andria {
	background-image: url("/singletrack/media/andria-bw.jpg");
}

.profile h2 {
	font-size: 1em;
	font-weight: 300;
	line-height: 2;
	
	margin: 1em 0;
}







